# Environments
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.idea/
.vscode/

/.quarto/

# Archives
archive/
references/hallucination/
references/similar tasks/
references/applications-of-gpt-in-political-science-research-extracting-information-from-unstructured-text.pdf

# Secrets
hftoken.md
