# Environments
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.idea/
.vscode/

/.quarto/

# Archives
archive/

# References
references/**
!references/*.bib
nsffunding/

# Secrets
hftoken.md
results_down_sized/df_text_by_report_conversation_classification (4).csv
